.MuiContainer-root {
  background-image: rgb(253, 247, 247);
  background-color: rgb(248, 240, 240);

  margin-left: 50px;
}

.MuiList-root {
  display: grid;
}
.MuiGrid-box {
  padding: 35px;
}

#app {
  height: 100%;
}

/* html,
body {
  position: relative;
  height: 220%;
} */

/* body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */
